<main>
  <div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img src="/bgimage1.jpeg">
        <div class="carousel-caption">
          <h2>Tabijitaku</h2>
        </div>
    </div>
    <div class="carousel-item">
      <img src="/bgimage2.jpeg">
        <div class="carousel-caption">
          <h2>自宅で旅をはじめよう</h2>
        </div>

    </div>
    <div class="carousel-item active">
      <img src="/bgimage4.jpeg">
        <div class="carousel-caption">
          <h2>日本の世界遺産を学ぶ</h2>
        </div>

    </div>
  </div>
  </div>

  <section class="py-5">
    <h2 class="text-center mb-5">Let's start!!</h2>
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-lg-8 order-lg-1">
          <%= link_to spots_path do%>
            <h2 class="mb-5 text-dark"><u>一覧を見る</u></h2>
            <h3 class="text-dark">日本の世界遺産（全23ヶ所）を全て確認することができます！</h3>
          <% end %>
        </div>
        <div class="col-lg-4 order-lg-2 ">
          <img src="/image.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-lg-8 order-lg-2">
          <%= link_to quiz_spots_path do%>
            <h2 class="mb-5 text-dark"><u>クイズで学ぶ</u></h2>
            <h3 class="text-dark">日本の世界遺産に関するクイズを解くことで、さらに詳しく慣れます！</h3>
          <% end %>
        </div>
        <div class="col-lg-4 order-lg-1">
          <img src="/image2.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex justify-content-around align-items-center">
        <div class="col-lg-8 order-lg-1">
          <%= link_to quiz_spots_path do%>
            <h2 class="mb-5 text-dark"><u>マイページ</u></h2>
            <h3 class="text-dark">自分がいいねしたスポット、まだ行ったことがないスポットを表示できます！</h3>
          <% end %>
        </div>
        <div class="col-lg-4 order-lg-2 ">
          <img src="/image3.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light text-center py-5">
    <a href="" class="btn btn-secondary btn-lg ">他のポートフォリオを見る</a>
  </section>

</main>
