<main>
  <div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img src="/bgimage1.jpeg">
        <div class="carousel-caption">
          <h1 display-2>Tabizitaku</h1>
        </div>
    </div>
    <div class="carousel-item">
      <img src="/bgimage2.jpeg">
        <div class="carousel-caption">
          <h1 display-2>自宅で旅をはじめよう</h1>
        </div>

    </div>
    <div class="carousel-item active">
      <img src="/bgimage4.jpeg">
        <div class="carousel-caption">
          <h1 display-2>日本の世界遺産を学ぶ</h1>
        </div>

    </div>
  </div>
  </div>

  <section class="py-5">
    <h2 class="text-center mb-5">Let's start!!</h2>
    <div class="container">
      <div class="mb-5 row d-flex align-items-center">
        <div class="col-lg-8 order-lg-1">
          <h2 class="mb-5">日本の世界遺産ランキング</h2>
          <p>いいねされた日本の世界遺産をランキングで表示します！</p>
        </div>
        <div class="col-lg-4 order-lg-2 ">
          <img src="/image.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex align-items-center">
        <div class="col-lg-8 order-lg-2">
          <h2 class="mb-5">一覧を見る</h2>
          <p>日本の世界遺産を全て確認することができます！</p>
        </div>
        <div class="col-lg-4 order-lg-1">
          <img src="/image2.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mb-5 row d-flex align-items-center">
        <div class="col-lg-8 order-lg-1">
          <h2 class="mb-5">場所を覚える</h2>
          <p>日本地図から世界遺産の場所を覚えることができます！</p>
        </div>
        <div class="col-lg-4 order-lg-2 ">
          <img src="/image3.jpeg" class="mx-auto rounded-circle" alt="">
        </div>
      </div>
    </div>
  </section>
</main>
