<section id="wrapper" class="pt-5">
  <h1 class="mb-5 text-center text-light">クイズに挑戦してみよう！(全7問)</h1>
  <div class="container p-5 border rounded-lg border-light" id="qbox">
    <h2 id="question" class="mb-3"></h2>
    <ul id="choices" class="mb-3">
    </ul>
    <div id="btn" class="disabled">次の問題へ</div>

    <section id="result" class="hidden"> 
      <h3 class="mb-4"></h3>
      <a href="">もう一度解いてみる！</a>
    </section>
  </div>
</section>

<%= javascript_include_tag 'quiz.js' %>