<div class="container pl-5 pr-5">
  <h1 class="mt-5 mb-5 text-center border-bottom"><%= @spot.name %></h1>
  <div class="mb-5 row d-flex justify-content-left align-items-center">
    <div class="spot-box col-md-5 ">
      <img src="<%= @spot.image %>" class="w-100">
    </div>
    <div class="spot-box col-md-7">
      <h4 class="text-center text-dark"><%= @spot.content %></h4>
    </div>
  </div>
</div>