<div class="container pl-5 pr-5">
  <div class="mb-5 row d-flex justify-content-left align-items-center">
    <div class="spot-box col-md-5 ">
      <img src="<%= @spot.image %>" class="w-100">
    </div>
    <div class="spot-box col-md-7">
      <h1 class="text-center mb-5 text-dark"><%= @spot.spot %></h1>
      <h5 class="text-center text-dark"><%= @spot.content %></h5>
    </div>
  </div>
</div>