@import "bootstrap";
@import "config/colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/spots";
@import "modules/top";
@import "modules/flash";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
}

header {
  background-color: #C8E6C9;
}
