@import "bootstrap";
@import "top.scss";

// 全体
html, body {
  height: 100%;
  width: 100%;
}

// トップページ
.carousel-inner img {
  width: 100%;
  height: 700px;
}

.carousel-caption {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.container img {
  height: 300px;
}


// posts#indexページ
.tab-content img{
  width: 100%;
  height: 400px;
}

