@import "bootstrap";

// 全体
html, body {
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
}

// トップページ
.carousel-inner img {
  width: 100%;
  height: 700px;
}

.carousel-caption {
  position: absolute;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.container img {
  height: 300px;
}


// posts#indexページ
.spot-box img{
  width: 100%;
  height: 400px;
}

// posts#showページ
.spot-box h4 {
  line-height: 1.5em;
  letter-spacing: 0.2em
}

// posts#quizページ
#wrapper {
  height: calc(100vh - 120px);
  background-color: sandybrown;
}

#qbox {
  margin: 30px auto;
  background: #fff;
  border-radius: 4px;
  position: relative;

}

#choices li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

#choices li:hover {
  background-color: #f8f8f8;
}

#choices li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices li.correct::after {
  content: '...正解です!';
  size: 8px;
}

#choices li.wrong::after {
  content: '...残念!答えはサイト内にあるので探してみよう';
}

#choices li.wrong {
  background: #f8d8da;
  border-color: #f6c6cb;
  color: #721c24;
  font-weight: bold;
}



#btn ,#result a {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result {
  border-radius: 4px;
  text-align: center;
  position: absolute;
  width: 400px;
  background: #fff;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.4s;
}

#result.hidden{
  transform: translateY(-500px);
}

#result a {
  display: block;
  text-decoration: none;
}

